<div class="fourth_section">
    <h3>SKILLS</h3>
    <div class="technical_skills">
        <h5>TECHNICAL SKILLS</h5><br>
        <p id="html_skill">HTML</p>
        <progress class="progress_bar" value="60" max="100"></progress>
        <p id="css_skill">CSS</p>
        <progress class="progress_bar" value="60" max="100"></progress>
        <p id="css_skill">JAVASCRIPT</p>
        <progress class="progress_bar" value="60" max="100"></progress>
        <p id="jq_skill">JQuery</p>
        <progress class="progress_bar" value="60" max="100"></progress>
    </div>
    <div class="languages">
        <h5>LANGUAGES</h5><br>
        <p id="tamil_lang">TAMIL</p>
        <progress class="lang_progress_bar" value="60" max="100"></progress>
        <p id="eng_lang">ENGLISH</p>
        <progress class="lang_progress_bar" value="60" max="100"></progress>
    </div>
</div>
