<div class="bg_image">
    <img src="assets/Black_Background.jpg" alt="Background Image">
</div>
<div class="portfolio">
    <h3>PORTFOLIO</h3><br><br>
    <p>Some of my best projects so far</p>
    <hr class="under_line">            
</div>
<div class="div_portfolio">
    <div class="div_1">
        <img class="code_icon1" src="assets/image.png" alt="Code Icon">
        <h5 class="div1_heading">SL MANAGEMENT</h5>
        <p>A window application for staff leave management</p>
    </div>
    <div class="div_2">
        <img class="code_icon2" src="assets/image.png" alt="Code Icon">
        <h5 class="div2_heading">EMAIL BLASTER</h5>
        <p>A web application for sending bulk emails</p>
    </div>
</div>
