<div class="second_section">
    <p>I BELIEVE IN</p>
    <h1>EAT (); SLEEP(); CODE(); GAME(); REPEAT();</h1>
</div>
<div class="third_section">
    <div class="profilepic">
        <img src="../../assets/mypic.jpg" alt="Profile Photo">
    </div>
    <div>
        <p id="myname">Amudhan S</p><br><br>
        <div class="caption_content">
            <p>I am a technology geek who just graduated the Master's Degree in Software System. 
                Recently, I have developed some meticulous tendenacies towards the work.
                I have been a good listener since my childhood days. Being polite and calm is my key character.<br><br><br>
                Recently, I joined the Full Stack Developer ProGrad program at FacePrep. 
                With the support and guidance of the FacePrep Mentors, I developed my knowledge in HTML, CSS and JS.<br><br><br>
                Presently, I am on the look out for the role of productive software developer.
            </p>  
        </div><br><br><br>
        <input id="btn_resume_download" tabindex="6" type="button" value="Download My Resume">
    </div>
</div>
